@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Monoton);body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.logo {
  color: #0072bc;
  font-family: 'Monoton';
  text-align: center;
  margin: auto;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

.search {
  position: fixed;
  bottom: 17%;
  left: 1.5%;
  width: 22%;
  border-style: solid;
  border-color: #0072bc;
  border-width: 2px;
  max-height: 65vh;
  min-height: 65vh;
  -webkit-box-shadow: 0px 33px 92px 0px #bababa;
  -moz-box-shadow: 0px 33px 92px 0px #bababa;
  box-shadow: 0px 33px 92px 0px #bababa; }
  .search input[type=text] {
    width: 80%;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    margin-top: 8%;
    background-color: #f1f1f1;
    padding: 10px; }
    .search input[type=text] i {
      height: 5px; }
  .search input[type=number] {
    width: 80%;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    margin-top: 8%;
    background-color: #f1f1f1;
    padding: 10px; }
  .search .categoryFilter {
    width: 80%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: auto;
    margin-top: 8%; }
  .search input[type="submit"] {
    width: 80%;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    margin-top: 10px; }
  .search button {
    width: 80%;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    margin-top: 10px;
    background-color: #63D1F4;
    padding: 10px; }
    .search button .margin-left {
      margin-left: 8px; }
  .search input[type=range] {
    -webkit-appearance: none;
    margin: auto;
    width: 60%;
    margin-top: 15%;
    margin-bottom: 15%; }
  .search input[type=range]:focus {
    outline: none; }
  .search input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0072bc;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  .search input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px; }
  .search input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd; }
  .search input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0072bc;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  .search input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  .search input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  .search input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  .search input[type=range]::-ms-fill-upper {
    background: #0072bc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
  .search input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  .search input[type=range]:focus::-ms-fill-lower {
    background: #0072bc; }
  .search input[type=range]:focus::-ms-fill-upper {
    background: #367ebd; }
  .search .minPriceInput {
    text-align: right; }
  .search .maxPriceInput {
    text-align: right; }
  .search input, .search label, .search select, .search button {
    display: block;
    margin-top: 10%; }

.navBar {
  width: 100%;
  height: 6vh;
  background-color: #0072bc; }
  .navBar .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0072bc;
    margin-left: auto;
    width: 100%;
    display: inline; }
  .navBar li {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    position: relative; }
  .navBar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 50%;
    margin: auto;
    margin-left: 25%;
    height: 100%; }
  .navBar li a:hover {
    background-color: #333333; }

.productsContainer, .indexPage {
  width: 60%;
  height: 20vh;
  margin-left: 30%;
  margin-top: 3vh;
  background-color: #AAAAAA; }

.product {
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #0072bc;
  width: 100%;
  padding: 5px;
  position: relative;
  margin-top: 0px;
  -webkit-box-shadow: 0px 33px 92px 0px #bababa;
  -moz-box-shadow: 0px 33px 92px 0px #bababa;
  box-shadow: 0px 33px 92px 0px #bababa; }
  .product .model {
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: bold;
    font-size: 22px;
    color: black; }
  .product .price {
    position: absolute;
    top: 28px;
    right: 25px;
    font-style: bold;
    font-size: 32px; }
  .product .productImg {
    width: 250px;
    margin: 10px;
    position: absolute;
    top: 32px;
    left: 0px;
    display: block;
    margin-top: 20px; }
  .product .buyNowForm {
    position: absolute;
    bottom: 90px;
    right: 25px; }
    .product .buyNowForm input[type=submit] {
      width: 100%;
      background-color: #0072bc;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    .product .buyNowForm input[type=submit]:hover {
      background-color: white;
      color: #0072bc;
      font-style: bold;
      border-style: solid;
      border-width: 2px;
      border-color: #0072bc; }
  .product .rating {
    position: absolute;
    right: 25px;
    bottom: 4px; }
    .product .rating .stars {
      width: 130px; }
    .product .rating h3 {
      font-size: 10px;
      margin-bottom: 0px; }
    .product .rating img {
      margin-left: auto; }
  .product ul {
    position: absolute;
    top: 42px;
    left: 300px;
    margin: 0;
    list-style: none; }
  .product li:before {
    content: "";
    border-color: transparent #0097d5;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative; }

.not-found {
  margin-left: 30%;
  width: 60%; }

.indexPage {
  background-color: white;
  text-align: center;
  margin-left: 20%; }
  .indexPage h4 {
    margin-top: 30px; }

.recomendedProducsts {
  display: flex;
  width: 100%; }

.recoemendedProduct {
  border-color: #0072bc;
  border-style: solid;
  border-width: 2px;
  width: 23%;
  height: 350px;
  text-align: center;
  margin: 5px;
  position: relative; }
  .recoemendedProduct h3 {
    font-size: 18px; }
  .recoemendedProduct img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.recoemendedProduct:hover {
  background-color: #63D1F4;
  color: #FFF; }
